### **EXERCISE1: Using Joins**
##### Question1

* Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

*<font color='green'>Solution</font>*

In [ ]:
SELECT SCHOOL.NAME_OF_SCHOOL, SCHOOL.COMMUNITY_AREA_NAME, SCHOOL.AVERAGE_STUDENT_ATTENDANCE, CENSUS.HARDSHIP_INDEX
FROM chicago_public_schools as SCHOOL
LEFT OUTER JOIN chicago_socioeconomic_data as CENSUS
ON SCHOOL.COMMUNITY_AREA_NAME = CENSUS.COMMUNITY_AREA_NAME
WHERE CENSUS.HARDSHIP_INDEX = 98;

**Take a screenshot showing the SQL query and its results.**

##### Question2

* Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

*<font color='green'>Solution</font>*

In [ ]:
SELECT CRIME.CASE_NUMBER, CRIME.PRIMARY_TYPE, CENSUS.COMMUNITY_AREA_NAME
FROM chicago_crime as CRIME
LEFT OUTER JOIN chicago_socioeconomic_data as CENSUS
ON CRIME.COMMUNITY_AREA_NUMBER = CENSUS.COMMUNITY_AREA_NUMBER
WHERE CRIME.LOCATION_DESCRIPTION LIKE "%SCHOOL%"

**Take a screenshot showing the SQL query and its results.**

### **EXERCISE2: Creating a View**
##### Question1

* Write and execute a SQL statement to create a view showing the columns listed in the following table, with a new column name as shown in the second column.

Column name in CHICAGO_PUBLIC_SCHOOLS   Column name in view
NAME_OF_SCHOOL          ->              Scool_Name
Safety_Icon             ->              Safety_Rating
Family_Involvement_Icon ->              Family_Rating
Environment_Icon        ->              Environment_Rating
Instruction_Icon        ->              Instruction_Rating
Leaders_Icon            ->              Leaders_Rating
Teachers_Icon           ->              Teachers_Rating

*<font color='green'>Solution</font>*

In [ ]:
CREATE VIEW SCHOOL_VIEW_2 (School_Name, Safety_Rating, Family_Rating, Environment_Rating, Instruction_Rating, Leaders_Rating, Teachers_RAting)
AS SELECT NAME_OF_SCHOOL, Safety_Icon, Family_Involvement_Icon, Environment_Icon, Instruction_Icon, Leaders_Icon, Teachers_Icon
FROM chicago_public_schools;

SELECT * FROM SCHOOL_VIEW_2

* Write and execute a SQL statement that returns all of the columns from the view.

*<font color='green'>Solution</font>*

In [ ]:
SELECT * FROM SCHOOL_VIEW_2

* Write and execute a SQL statement that returns just the school name and leaders rating from the view.

*<font color='green'>Solution</font>*

In [ ]:
SELECT School_Name, Leaders_Rating FROM SCHOOL_VIEW_2

**Take a screenshot showing the last SQL query and its results.**

### **EXERCISE3: Creating a Stored Procedure**
##### Question1

* Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Don't forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator.

*<font color='green'>Solution</font>*

In [ ]:
DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE;
DELIMITER @
CREATE PROCEDURE UPDATE_LEADERS_SCORE (IN in_School_ID INTEGER, IN in_Leaders_Score INTEGER)
BEGIN

END @
DELIMITER ;

**Take a screenshot showing the SQL query.**

##### Question2

* Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school indentified by in_School_ID to the value on the in_Leader_Score parameter.

*<font color='green'>Solution</font>*

In [ ]:
DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE;
DELIMITER @
CREATE PROCEDURE UPDATE_LEADERS_SCORE (IN in_School_ID INTEGER, IN in_Leaders_Score INTEGER)
BEGIN
    UPDATE chicago_public_schools
    SET Leaders_Score = in_Leaders_Score
    WHERE School_ID=in_School_ID;

END @
DELIMITER ;

**Take a screenshot showing the SQL query.**

##### Question3

* Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in _School_ID using the following information.

Score lower limit       Score upper limit       Icon
80                      99                      Very strong
60                      79                      Strong
40                      59                      Average
20                      39                      Weak
0                       19                      Very Weak

*<font color='green'>Solution</font>*

In [ ]:
DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE;
DELIMITER @
CREATE PROCEDURE UPDATE_LEADERS_SCORE (IN in_School_ID INTEGER, IN in_Leaders_Score INTEGER)
BEGIN

    UPDATE chicago_public_schools
    SET Leaders_Score = in_Leaders_Score
    WHERE School_ID=in_School_ID;

    ALTER TABLE chicago_public_schools
        CHANGE Leaders_Icon 
        Leaders_Icon VARCHAR(15);
        
    IF in_Leaders_Score >= 80 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = "Very strong"
        WHERE School_ID=in_School_ID;

    ELSEIF in_Leaders_Score >=60 AND in_Leaders_Score <80 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = "Strong"
        WHERE School_ID=in_School_ID;

    ELSEIF in_Leaders_Score >=40 AND in_Leaders_Score <60 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = "Average"
        WHERE School_ID=in_School_ID;

    ELSEIF in_Leaders_Score >=20 AND in_Leaders_Score <40 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = "Weak"
        WHERE School_ID=in_School_ID;

    ELSE
        UPDATE chicago_public_schools
        SET Leaders_Icon = "Very Weak"
        WHERE School_ID=in_School_ID;
    END IF;
    
END @
DELIMITER ;

**Take a screenshot showing the SQL query.**

##### Question4

* Run your code to create the stored procedure.

**Take a screenshot showing the SQL query and its results.**

* Write a query to call the stored procedure, passing a valid school ID and a leader score of 50, to check that the procedure works and expected.

*<font color='green'>Solution</font>*

In [ ]:
CALL UPDATE_LEADERS_SCORE(610038, 50);
SELECT SCHOOL_ID, LEADERS_ICON, LEADERS_SCORE FROM chicago_public_schools;

### **EXERCISE4: Using Transactions**
##### Question1

* Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories.

*<font color='green'>Solution</font>*

In [ ]:
DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE;
DELIMITER @
CREATE PROCEDURE UPDATE_LEADERS_SCORE (IN in_School_ID INTEGER, IN in_Leaders_Score INTEGER)
BEGIN
    IF in_Leaders_Score >=0 and in_Leaders_Score <101 THEN

        UPDATE chicago_public_schools
        SET Leaders_Score = in_Leaders_Score
        WHERE School_ID=in_School_ID;

        ALTER TABLE chicago_public_schools
        CHANGE Leaders_Icon 
        Leaders_Icon VARCHAR(15);
        
        IF in_Leaders_Score >= 80 AND in_Leaders_Score <101 THEN
            UPDATE chicago_public_schools
            SET Leaders_Icon = "Very strong"
            WHERE School_ID=in_School_ID;

        ELSEIF in_Leaders_Score >=60 AND in_Leaders_Score <80 THEN
            UPDATE chicago_public_schools
            SET Leaders_Icon = "Strong"
            WHERE School_ID=in_School_ID;

        ELSEIF in_Leaders_Score >=40 AND in_Leaders_Score <60 THEN
            UPDATE chicago_public_schools
            SET Leaders_Icon = "Average"
            WHERE School_ID=in_School_ID;

        ELSEIF in_Leaders_Score >=20 AND in_Leaders_Score <40 THEN
            UPDATE chicago_public_schools
            SET Leaders_Icon = "Weak"
            WHERE School_ID=in_School_ID;

        ELSEIF in_Leaders_Score >=0 AND in_Leaders_Score <20 THEN
            UPDATE chicago_public_schools
            SET Leaders_Icon = "Very Weak"
            WHERE School_ID=in_School_ID;
        END IF;

    ELSE
        ROLLBACK;

    END IF;
    
END @
DELIMITER ;

**Take a screenshot showing the SQL query.**

##### Question2

* Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure.

*<font color='green'>Solution</font>*

In [ ]:
DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE;
DELIMITER @
CREATE PROCEDURE UPDATE_LEADERS_SCORE (IN in_School_ID INTEGER, IN in_Leaders_Score INTEGER)
BEGIN
    IF in_Leaders_Score >=0 and in_Leaders_Score <101 THEN

        UPDATE chicago_public_schools
        SET Leaders_Score = in_Leaders_Score
        WHERE School_ID=in_School_ID;

        ALTER TABLE chicago_public_schools
        CHANGE Leaders_Icon 
        Leaders_Icon VARCHAR(15);
        
        IF in_Leaders_Score >= 80 AND in_Leaders_Score <101 THEN
            UPDATE chicago_public_schools
            SET Leaders_Icon = "Very strong"
            WHERE School_ID=in_School_ID;

        ELSEIF in_Leaders_Score >=60 AND in_Leaders_Score <80 THEN
            UPDATE chicago_public_schools
            SET Leaders_Icon = "Strong"
            WHERE School_ID=in_School_ID;

        ELSEIF in_Leaders_Score >=40 AND in_Leaders_Score <60 THEN
            UPDATE chicago_public_schools
            SET Leaders_Icon = "Average"
            WHERE School_ID=in_School_ID;

        ELSEIF in_Leaders_Score >=20 AND in_Leaders_Score <40 THEN
            UPDATE chicago_public_schools
            SET Leaders_Icon = "Weak"
            WHERE School_ID=in_School_ID;

        ELSEIF in_Leaders_Score >=0 AND in_Leaders_Score <20 THEN
            UPDATE chicago_public_schools
            SET Leaders_Icon = "Very Weak"
            WHERE School_ID=in_School_ID;
        END IF;

    ELSE
        ROLLBACK;

    END IF;
    
COMMIT;

END @
DELIMITER ;

**Take a screenshot showing the SQL query.**

* Run your code to replace the stored procedure.

* Write and run one query to check that the updated stored procedure works as expected when you use a valid score of 38.

* Write and run another query to check that the updated stored procedure works as expected when you use an invalid score of 101.

*<font color='green'>Solution</font>*

In [ ]:
CALL UPDATE_LEADERS_SCORE(610038, 38);
SELECT SCHOOL_ID, LEADERS_ICON, LEADERS_SCORE FROM chicago_public_schools
LIMIT 1;